[submodule "antonio-capone-site"]
	path = antonio-capone-site
	url = git@github.com:doccap/antonio-capone-site.git

[submodule "doccap-editor"]
	path = doccap-editor
	url = git@github.com:doccap/doccap-editor.git

[submodule "iudu"]
	path = iudu
	url = git@github.com:doccap/iudu.git
