{% extends 'base.html'%}
{% block title %}
Prrrreferisci
{% endblock %}
{% block styles %}
	.container{
		text-align: center;
		vertical-align:middle;
		position:relative;
		top:700px
	}
	#preferisci-button {
		color: #ffffff;
		font-size: 56px;
		background-color: #db1fc8;
		border: none;
		box-shadow: 0px 5px 5px #c9c9c9;
		border-radius: 70px;
		width: 600px;
		height: 200px;
		font-family: "Copperlate", Fantasy, sans-serif;
	}
	#preferisci-button:hover {background-color: #912386}
	#preferisci-button:active {
		 background-color: #912386;
		 box-shadow: 0 25px 25px #b0b0b0;
		 transform: translateY(4px);
	}
	.preferisci-alternative-wrapper{
		text-align:center;
		height:500px
	}
	.alternative{
		display:inline-block;
		margin:auto;
		text-align:center;
		padding:100px 100px 100px 100px;
		font-size: 60px;
		font-family: "FreeMono", Monospace, sans-serif;
		word-wrap: break-word;
		vertical-align:middle
	}
{% endblock %}
{% block body %}
	<div class="preferisci-alternative-wrapper">
		<div id="first-alternative" class="alternative">
			<p>{{firstAlternative}}</p>
		</div>
		<div id="second-alternative" class="alternative">
			<p>{{secondAlternative}}</p>
		</div>
	</div>
	<div class="container" style>
		<button id="preferisci-button" type="button" class="btn" onclick="location.replace('/prrreferisci')">
			Prrrreferiscii
		</button>
	</div>
{% endblock %}